@charset "utf-8";

/* common */
* {
    font-family: 'Roboto', sans-serif;
    color: #696969;
}
img {
    object-fit: cover;
}
nav li a {
    color: #696969!important;
}
.container {
    min-height: 800px;
}
/* bg */
.bg-pink {
    background-color: #ffc6c6;
}
.bg-orange {
    background-color: #ffd6d6;
}
.bg-beige {
    background-color: #ede4e1;
}
/* btn */
.btn-pink {
    background-color: #ffc6c6;
    color: #333333;
}
.btn-pink:hover {
    color: #333333;
    opacity: 0.8;
}
.btn-pink2 {
    background-color: #d1e232;
    color: #333333;
}
.btn-pink2:hover {
    color: #333333;
    opacity: 0.8;
}

/* container */
.container {
    max-width: 768px;
}


/* navbar */

/* index */
#kondate-list {
    display: none;
}

/* show */
.head:before {
    content: '♫　';
}

/* create */
#create-form #thumbnail {
    display: none;
}
#create-form .image-btn {
    width: 100px;
}

/* edit */
#edit-form .image-btn {
    width: 100px;
}

/* list */
#complete-btn {
    display: none;
}

/* スマホレイアウト */
@media screen and (max-width:768px) {
    /* create */
    #create-form .image-btn {
        display: block!important;
        width: 100%;
    }

    /* edit */
    #edit-form .image-btn {
        display: block!important;
        width: 100%;
    }
}